@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  ul,
  li,
  ol {
    list-style: none;
  }
}
/* fONTS */
@theme {
  --font-source: "Source Sans 3", sans-serif;
  --font-sans: "Open Sans", sans-serif;
}
/* fONTS */

/* COLORS */
@theme {
  --color-primary: #ffb30e;
  --color-text: #f17228;
  --color-757575: #757575;
  --color-FFFFFF: #ffffff;
  --color-warning: #f17228;
  --color-424242: #424242;
  --color-FFB20E: #ffb20e;
  --color-212121: #212121;
  --color-success: #79b93c;
  --color-504F4F: #504f4f;
}
/* COLORS */

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* DEFAULT */
    padding-right: 1rem;
  }

  .bglayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 2920px;
    height: 2920px;
    border-radius: 100%;
    background-color: #feefd0;
    z-index: 1;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #ffb800 0%, #ff8a00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
