@import "tailwindcss";

/* fONTS */
@theme {
  --font-source: "Source Sans 3", sans-serif;
  --font-sans: "Open Sans", sans-serif;
}
/* fONTS */

/* COLORS */
@theme {
  --color-primary: #ffb30e;
  --color-F17228: #f17228;
  --color-757575: #757575;
  --color-FFFFFF: #ffffff;
  --color-warning: #f17228;
  --color-424242: #424242;
  --color-FFB20E: #ffb20e;
  --color-212121: #212121;
  --color-success: #79b93c;
}
/* COLORS */

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* DEFAULT */
    padding-right: 1rem;
  }
}
